@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tajawal:wght@400;900&family=Tenor+Sans&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: center;
    height: 34rem;
}
.imgIntro img{
    border-radius: 50%;
    height: 22rem;
    width: 22rem;
    margin-top:6rem;
    margin-right: 4rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.imgIntro{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.prgIntro{
    margin-top:6rem;
    margin-left:1rem;
    width: 50%;
}
.prgIntro h1{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5rem 0 ;
    color: rgb(98, 96, 96);
}
.prgIntro p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    margin-right: 15rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    color: rgb(128, 128, 128);
    line-height: 2rem;
}
button{
    border-radius: 10rem;
    height: 3rem;
    width: 10rem;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(128, 128, 128);
    color: rgb(128, 128, 128);
    letter-spacing: 0.1rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
}
.about{
    height: 44rem;
    background-color: rgb(235, 235, 235);
}
.first-line{
    position: relative;
    top: 4.5rem;
    border-color: rgb(120, 120, 120);
}
.description{
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem 42rem;
    color: rgb(120, 120, 120) ;
}
hr{
    width: 6rem;
    margin: 0 auto;
}
h2{
    text-align: center;
    padding-top: 6rem;
    font: 2.5rem 'Montserrat', sans-serif;
    color: rgb(101, 101, 101);
}
.linethroue{
    width: 45.6rem;
    position: absolute;
    z-index: 0;
    margin: 5.2rem 0 0 36.7rem;
    border-color: rgb(120, 120, 120);
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    position: relative;
    z-index:1;
    margin-top: 2rem;
}
ul i{
    padding-left: 0;
    color: rgb(101, 101, 101);
    font-size: 2.5rem;
    border:0.1rem solid rgb(120, 120, 120);
    padding: 2rem;
    border-radius: 50%;
    margin:0 3rem;
    background-color: rgb(235, 235, 235) ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.descText{
    font-size: 1.5rem;
    padding: 3rem 30rem;
    color: rgb(120, 120, 120) ;
    text-align: center;
}
.det-button{
    position: absolute;
    left: calc(50% - 5rem);
}
.about button{
    margin: 0 auto;
}
.row-revers{
    display: flex;
    flex-direction: row-reverse;
    width: 75rem;
    margin: 3.5rem auto;
}
.row{
    display: flex;
    flex-direction: row; 
    width: 75rem;
    margin: auto;
}
.services img{
    height: 27rem;
    width: 36rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.services p{
    line-height: 2rem;
    font-size: 1.5rem; 
    color: rgb(120, 120, 120);
}
.services h3{
    padding: 1rem 0;
    font: 2rem 'Montserrat', sans-serif;
    color:  rgb(99, 99, 99);
}
.title-line{
    margin: 0;
    border-color: rgb(185, 185, 185) ;
    margin-bottom: 1rem;
}
.row .title-line{
    margin-left: 3rem;
}
.row p ,.row h3,.row button{
    margin-left:3rem; 
}
.row p, .row-revers p{
    margin-right: 2rem;
    padding: 1.5rem 0;
}
.row button ,.row-revers button{
    width: 7.3rem;
    margin-top: 1rem;
}
.services .descText{
    margin: 2rem 20rem;
    padding: 0  4rem;
}
