@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tajawal:wght@400;900&family=Tenor+Sans&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: center;
    height: 30rem;
}
.imgIntro img{
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    margin-top: 5rem;
    margin-right: 4rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.imgIntro{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.prgIntro{
    margin-top:4rem;
    width: 50%;
}
.prgIntro h1{
    font-size: 2.6em;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5rem 0 ;
    color: rgb(98, 96, 96);
}
.prgIntro p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-right: 15rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    color: rgb(128, 128, 128);
    line-height: 2rem;
}
button{
    border-radius: 10rem;
    height: 3rem;
    width: 10rem;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(128, 128, 128);
    color: rgb(128, 128, 128);
    letter-spacing: 0.1rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
}
.about{
    /* height: 40rem; */
    background-color: rgb(235, 235, 235);
}
.first-line{
    position: relative;
    top: 4rem;
    border-color: rgb(120, 120, 120);
}
.description{
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem 29rem;
    color: rgb(120, 120, 120) ;
}
hr{
    width: 6rem;
    margin: 0 auto;
}
h2{
    text-align: center;
    padding-top: 5.5rem;
    font: 2rem 'Montserrat', sans-serif;
    color: rgb(101, 101, 101);
}
.linethroue{
    /* font-size: 1.2rem; */
    width: 36rem;
    position: absolute;
    z-index: 0;
    margin: 4.2rem 0 0 27.5rem;
    border-color: rgb(120, 120, 120);
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    position: relative;
    z-index:1;
    margin-top: 1.7rem;
}
ul i{
    padding-left: 0;
    color: rgb(101, 101, 101);
    font-size: 1.6rem;
    border:0.1rem solid rgb(120, 120, 120);
    padding: 1.6rem;
    border-radius: 50%;
    margin:0 2rem;
    background-color: rgb(235, 235, 235) ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.descText{
    font-size: 1.2rem;
    padding: 3rem 15rem;
    color: rgb(120, 120, 120) ;
    text-align: center;
}
.det-button{
    position: relative;
    left: calc(50% - 5rem);
    margin-bottom: 4rem;
}
.about button{
    margin: 0 auto;
    margin-bottom: 2rem;
}
.row-revers{
    display: flex;
    flex-direction: row-reverse;
    width: 75rem;
    margin: 3rem auto;
}
.services .row-revers .text{
    padding-left: 2rem;
}
.row{
    display: flex;
    flex-direction: row; 
    width: 75rem;
    margin: auto;
}
.row div,.row-revers div{
    width: 50%;
}
.services img{
    height: 24rem;
    width: 33rem;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.services>hr{
    position: relative;
    top: 3rem;
}
.services p{
    line-height: 2rem;
    font-size: 1.3rem; 
    color: rgb(120, 120, 120);
    text-align:justify;
}
.services h3{
    padding: 1rem 0;
    font: 2rem 'Montserrat', sans-serif;
    color:  rgb(99, 99, 99);
}
.title-line{
    margin: 0;
    border-color: rgb(185, 185, 185) ;
    margin-bottom: 1rem;
}
.row .title-line{
    margin-left: 3rem;
}
.row p ,.row h3,.row button{
    margin-left:3rem; 
}
.row p, .row-revers p{
    margin-right: 2rem;
    padding: 1.5rem 0;
}
.row button ,.row-revers button{
    width: 7.3rem;
    margin-top: 1rem;
}
.services .descText{
    margin: 4rem 20rem;
    padding: 0  4rem;
}
.more-info{
    height: 35rem;
    background:rgba(0, 0, 0, 0.8) url("/assets/street1.jpg") ;
    background-size: 100% 40rem ;
    opacity: 0.5;
    color: aliceblue;
    background-blend-mode:darken ;
}
.more-info hr{
    position: relative;
    top: 3.5rem;
}
.more-info h2{
    color: aliceblue;
    padding-top: 8rem;
}
.more-info p{
    text-align: center;
    padding: 3rem 29rem ;
    font-size: 1.4rem;
    line-height: 2.5rem;
}
.more-info button{
    color:aliceblue;
    margin: 1rem 0;
    border-color: aliceblue;
}
footer{
    background-color: rgb(235, 235, 235);
}
footer ul{
    justify-content: flex-start;
    margin: 1rem 2rem;
}
footer i{
    font-size: 1.2rem;
    padding: 0.8rem;
    margin: 1rem 0.5rem;
}
footer .row{
    padding-top: 1.5rem;
    width: 85rem;
}
footer h3{
    padding-top: 3rem ;
    padding-bottom: 1.5rem;
    font: 2rem 'Montserrat', sans-serif ;
    color: rgb(92, 90, 90);
}
.ref{
    width: 45rem;
}
.form{
    width: 45rem;
}
.ref hr{
    margin: 2rem 3rem;
    width: 5rem;
}
footer form{
    padding:4rem 3rem;
}
footer input{
    outline: none;
    font: 1rem 'Montserrat', sans-serif ;
    padding: 1rem;
    margin: 1rem;
    width: 15rem;
    border-color: rgb(179, 178, 178);
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
}
footer textarea{
    font: 1rem 'Montserrat', sans-serif ;
    padding: 1rem;
    margin: 1rem;
    width: 32rem;
    height: 12rem;
    outline: none;
    border-color: rgb(179, 178, 178);
    border-radius: 0.7rem;
}
.form button{
    width: 11rem;
    margin: 1rem ;
}
footer hr{
    margin: 1.5rem auto;
}
footer p{
    color: rgb(183, 183, 183);
    text-align: center;
    font-size: 1rem;
    padding-bottom:2rem;
}